<ion-header>
  <ion-navbar color="tabColor">
    <ion-title text-center>
      {{'AboutPage.BASLIK' | translate}}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <div>
        <ion-card style="background-color:rgb(220, 241, 243);">
          <ion-card-content>
            <b style="font-size:18px; color:rgb(75, 168, 211); " *ngIf="isLoggedIn == 'false'; else loggedIn">{{'AboutPage.GIRIS_YAP' | translate}}</b>
          <ng-template #loggedIn>
              <b style="font-size:18px; color:rgb(75, 168, 211); " *ngIf="authority == '0'; else isDoctor">{{'AboutPage.BTNs' | translate }}</b>
          </ng-template>
          <ng-template #isDoctor>
            <b style="font-size:18px; color:rgb(75, 168, 211); ">{{'AboutPage.IS_DOCTOR' | translate}}</b>
          </ng-template>
          </ion-card-content>
          
        </ion-card>
        </div>
   
  <button ion-button *ngIf="authority == '0'" class="button-middle" (click)="chatWithDoctor()">{{'AboutPage.BTN_CHAT_WITH_DOCTOR' | translate}}</button>
  <button ion-button *ngIf="authority == '0'" class="button-middle" (click)="timer()">{{'AboutPage.BTN_TIMER' | translate}}</button>
  
 
</ion-content>
