<ion-header>
  <ion-navbar color="tabColor">
    <ion-title text-center>
      HESABIM
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <div>
        <ion-card style="background-color:rgb(220, 241, 243);">
          <ion-card-content>
            <b style="font-size:18px; color:rgb(75, 168, 211); " *ngIf="isLoggedIn == 'false'; else loggedIn"> İşlem yapmak için lütfen giriş yapınız</b>
          <ng-template #loggedIn>
              <b style="font-size:18px; color:rgb(75, 168, 211); " *ngIf="authority == '0'; else isDoctor"> Lütfen aşağıdaki işlemlerden birini seçiniz</b>
          </ng-template>
          <ng-template #isDoctor>
            <b style="font-size:18px; color:rgb(75, 168, 211); ">Bu kısım sadece hastalar içindir.</b>
          </ng-template>
          </ion-card-content>
          
        </ion-card>
        </div>
   
  <button ion-button *ngIf="authority == '0'" class="button-middle" (click)="chatWithDoctor()">Doktor ile iletişime geçiniz</button>
  <button ion-button *ngIf="authority == '0'" class="button-middle" (click)="timer()">Değiştirme süresi</button>
  
 
</ion-content>
