page-category {
    .divIcon {
        margin: 0 auto;
        padding: 0.2em 1.25em 0.1em 0.35em;
        width: 2.1em;
        border-radius: 9% auto;
        font-size: 5em;
        margin-left: 9% auto;
      }
      .bfont {
        font-size: 20px;
      }
      .cardColor {
        background-color: #EBF5FB;
      }
    

}
