page-timer {
    /* .radial-timer {
        // CONFIG
        $thickness: 9px;
        $duration: 10s;
        $color: blue;
        
        overflow: hidden;
        height: 144px;
        width: 144px;
        position: relative;
        
        .radial-timer-half {
          height: 144px;
          width: 72px;
          border-radius: 72px 0px 0px 72px;
          background: blue;
          position: absolute;
          &:nth-of-type(2) {
            z-index: 99999999;
            -webkit-transform-origin: center right;
            -webkit-transform: rotate(0deg);
          }
          
         
        }
      } */
      
      // Message
      ion-content {
        background: url(../assets/imgs/background.jpg) no-repeat center center fixed;
        background-size: cover;
        height: 100%;
        overflow: hidden;
        .item-md, .item-ios {
          background: none;
        }
      }
      ion-footer {
        background: white;
        ion-icon {
          padding: 10px;
          font-size: 20px;
          color: rgb(105, 176, 223);
        }
      }
      h2{
        text-align: center;
    }

    ion-icon { 
        font-size: xx-large;
        padding-right: 10px;
    }
      
}