<ion-header>
  <ion-navbar color="tabColor">
    <ion-title text-center><b>CLEARFIX</b></ion-title>
      <ion-buttons end *ngIf="account">
          <button ion-button icon-only (click)="logoutUser()">
            <ion-icon name="log-out"></ion-icon>
          </button>
      </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content >



    <ion-card class="card-parent">
        <img src="/assets/imgs/clearHosgeldiniz.png"/>
        <div *ngIf="account" class="card-title" text-center>{{'HomePage.Sayin' | translate}} {{name}} {{surname}},</div>
      </ion-card>

      <button *ngIf="!account" ion-button class="button-middle" (click)="newAccount()">{{'HomePage.BTN_YENI_HESAP_OLUSTUR' | translate}}</button>
      <button *ngIf="!account; else loggedIn" ion-button class="button-middle" (click)="loginUser()">{{'HomePage.BTN_UYE_GIRISI' | translate}}</button>
      <ng-template #loggedIn>
          <button *ngIf="authority == '1'" ion-button class="button-middle" (click)="goToCategories()">{{'HomePage.BTN_KATEGORILERE_GIT' | translate}}</button>
      </ng-template>
      <button *ngIf="!account" ion-button class="button-middle" (click)="loginDoctor()">{{'HomePage.BTN_HEKIM_GIRISI' | translate}}</button>

</ion-content>
