<ion-header>
  <ion-navbar color="tabColor">
    <ion-title text-center><b>CLEARFIX</b></ion-title>
      <ion-buttons end *ngIf="account">
          <button ion-button icon-only (click)="logoutUser()">
            <ion-icon name="log-out"></ion-icon>
          </button>
      </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content >

        <div padding text-center>
            <div class="logo primary-bg">
                <img src="/assets/imgs/loginDoktor.png"/>
            </div>
            <h5 style="font-weight: bold; color:rgb(101, 183, 221);">
            <!-- {{'RegisterDoctorPage.LUTFEN_FORMU_EKSIKSIZ_DOLDURUNUZ' | translate}} -->
            {{'HomePage.WELCOME' | translate}}
        </h5>
        </div>

      <button *ngIf="!account" ion-button class="button-middle" (click)="newAccount()">{{'HomePage.BTN_YENI_HESAP_OLUSTUR' | translate}}</button>
      <button *ngIf="!account; else loggedIn" ion-button class="button-middle" (click)="loginUser()">{{'HomePage.BTN_UYE_GIRISI' | translate}}</button>
      <ng-template #loggedIn>
          <button *ngIf="authority == '1'" ion-button class="button-middle" (click)="goToCategories()">{{'HomePage.BTN_KATEGORILERE_GIT' | translate}}</button>
      </ng-template>
      <button *ngIf="!account" ion-button class="button-middle" (click)="loginDoctor()">{{'HomePage.BTN_HEKIM_GIRISI' | translate}}</button>

</ion-content>
