page-login-doctor {
    .login-content {
        margin: 5em auto;
      }
      .button-middle {
        position:relative;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width:94%;
       background-color: rgb(83, 184, 231);
      }

}
